@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  width: 100%;
  max-width: 400px;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 2rem;
}

a {
  background-color: rgb(216, 97, 97);
  text-decoration: none;
  color: black;
  padding: 0.7rem 2rem;
  border-radius: 10px;
  font-weight: bold;
  transition: background-color 0.3s;
}

a:hover {
  background-color: rgb(177, 140, 140);
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
    padding: 0 1rem;
    text-align: center;
  }

  img {
    max-width: 350px;
  }
}